# docker
DOCKER_USER=ozcodingschool
DOCKER_REPOSITORY=ai-health

# fastapi
APP_VERSION=v1.0.0
SECRET_KEY=oz-codingschool-AI-health260127!@
COOKIE_DOMAIN=localhost

# ai-worker
AI_WORKER_VERSION=v1.0.0
